body{
    background-image: url("papel\ branco.jpg");
    background-size:2000px;
}
h1{
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color:darkgreen;
    font-size: 38px;
}
p{
    font-size: 20px;
    font-family: Snell Roundhand, cursive; ;
}
h2{
    text-align: center;
    font-size:30px; 
    font-family:Snell Roundhand, cursive;
    color:limegreen;
}
li{
    font-size: 20px;
    font-family:Snell Roundhand, cursive; 
}
